* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start {
  background-color: #0B0996;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
}

@media screen and (max-width: 1000px) {
  .start {
    display: none;
  }
}

.logo-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
}

.logo-1:hover {
  cursor: pointer;
}

.logo-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2px;
}

.fb {
  padding: 2px;
}

.ig {
  padding: 2px;
}

.youtube {
  padding: 2px;
}

.absolute_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
  background-color: white;
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.compasso-logo {
  font-size: 3rem;
  color: #0B0996;
  cursor: pointer;
}

.moduls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 2rem;
  color: #0B0996;
}

@media screen and (max-width: 1000px) {
  .moduls {
    display: none;
  }
  .absolute_sticky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .absolute_sticky > .container3 {
    position: relative;
    top: 1rem;
    right: 1rem;
  }
}

.b {
  margin: 1rem;
  font-family: sans-serif;
}

.b:hover {
  color: #FCA802;
}

.main-div {
  background-color: #1B26C3;
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-div .text {
  font-size: 2.3rem;
  color: white;
  cursor: pointer;
}

.hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.a {
  color: white;
  border: 3px solid white;
  padding: 10px 20px;
  border-radius: 5%;
  cursor: pointer;
}

.a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s ease-in 0s;
  transition: -webkit-transform 0.5s ease-in 0s;
  transition: transform 0.5s ease-in 0s;
  transition: transform 0.5s ease-in 0s, -webkit-transform 0.5s ease-in 0s;
}

.surgaltt {
  margin-right: 1.3rem;
}

.second-div {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
}

.blog1 {
  color: #0B0996;
  font-size: 3rem;
  text-align: center;
  padding-top: 3rem;
}

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.row > * {
  height: 20rem;
  border: 5px solid white;
  background-color: #F5F5F5;
}

.layouts img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row img:hover {
  -o-object-fit: cover;
     object-fit: cover;
}

.row .text {
  font-size: 1rem;
  color: #47423E;
  text-align: center;
  cursor: pointer;
}

.row .text:hover {
  color: #1B26C3;
}

.information-div {
  width: 100%;
  height: auto;
  background-color: #090770;
}

.information > * {
  width: 20%;
  height: auto;
  border: 1px solid #090770;
  background-color: #090770;
  color: white;
}

.blog_1 img {
  width: 45%;
  padding-top: 8px;
}

.blog_1 img:hover {
  cursor: pointer;
}

.blog_1 p:hover {
  text-decoration: underline;
}

textarea {
  width: 12rem;
  height: 2.5rem;
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2rem;
  display: block;
  background-color: #3182CE;
  color: white;
  font-size: 8px;
}

.end-div {
  width: 100%;
  height: 7rem;
  background-color: #050451;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 7px;
}

.container3 {
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .container3 {
    display: none;
  }
}

.rectangular {
  background-color: #0B0996;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border-radius: 15px;
  -webkit-transition: 1s -webkit-transform ease-in-out;
  transition: 1s -webkit-transform ease-in-out;
  transition: 1s transform ease-in-out;
  transition: 1s transform ease-in-out, 1s -webkit-transform ease-in-out;
  cursor: pointer;
}

.one {
  margin-bottom: 5px;
}

.two {
  margin-bottom: 5px;
  -webkit-transition: 1s background-color ease-in-out;
  transition: 1s background-color ease-in-out;
}

.container3:hover .one {
  -webkit-transform: rotate(-45deg) translate(-50%);
          transform: rotate(-45deg) translate(-50%);
}

.container3:hover .three {
  -webkit-transform: rotate(45deg) translate(-55%);
          transform: rotate(45deg) translate(-55%);
}

.container3:hover .two {
  background-color: white;
  -webkit-transition: 1s background-color ease-in-out;
  transition: 1s background-color ease-in-out;
}
/*# sourceMappingURL=style.css.map */